<!DOCTYPE html>
<html>
   <head>
      <title>Request Header Parser Microservice</title>
      <link href="https://fonts.googleapis.com/css?family=Mina" rel="stylesheet" type="text/css">
      <link href="/assets/style.css" rel="stylesheet" type="text/css">
   </head>
   <body>
      <div class="container">
          <h2>REQUEST HEADER PARSER MICROSERVICE</h2>
          <h3>This is a Request Header Parser Microservice. When you add /headers to the url, it returns a JSON with your ipaddress, language and software.</h3>
          <h4>Example:</h4>
          <p><a href="https://edkahara-request-header-parser-microservice.glitch.me/headers">/headers</a></p>
          <h4>Result:</h4>
          <p>
              <code>{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5","software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
          </p>
      </div>
   </body>
</html>
